<main class="icerik">
                <h1>About us</h1>
                <!-- <img class="about-img" src="https://picsum.photos/350/300" alt=""> -->
                <img class="about-img" src="/images/expertphoto-1.jpeg" alt="">
                <h3 class="about-title">What we do</h3>
                <p class="about-text">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo maxime ea quidem eligendi voluptatibus maiores et, molestias expedita. Omnis nihil explicabo ex, ab natus consequatur odio qui repellat labore magnam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dignissimos vel! Delectus optio et neque esse sunt ipsam commodi magnam obcaecati ea porro blanditiis voluptas aut labore, maxime architecto odio.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nesciunt, dolores illo incidunt officia cupiditate laudantium, facere a modi quod quia quasi excepturi vero enim deleniti voluptatibus dolorem magni ea.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque iusto ab molestiae. Totam, consequuntur possimus nemo quod nisi atque magnam doloremque architecto libero nam recusandae exercitationem quasi eaque. Impedit, earum!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, quo facilis, placeat inventore corporis harum repudiandae a sint odit consequatur reiciendis est! Laboriosam beatae eius, vel numquam impedit quas cum?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, laboriosam ratione vel cum illum libero omnis non ipsa placeat nulla nobis perspiciatis quis sed vero odio magni totam, nisi sint.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rerum nisi eligendi quam vitae natus distinctio neque odio recusandae ad sed, unde, autem consequuntur voluptatum consectetur at similique illum totam.</p>

                    
                   
                <hr>
                <h3>Vision & Mission</h3>
                <p class="about-text">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo maxime ea quidem eligendi voluptatibus maiores et, molestias expedita. Omnis nihil explicabo ex, ab natus consequatur odio qui repellat labore magnam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dignissimos vel! Delectus optio et neque esse sunt ipsam commodi magnam obcaecati ea porro blanditiis voluptas aut labore, maxime architecto odio.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nesciunt, dolores illo incidunt officia cupiditate laudantium, facere a modi quod quia quasi excepturi vero enim deleniti voluptatibus dolorem magni ea.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque iusto ab molestiae. Totam, consequuntur possimus nemo quod nisi atque magnam doloremque architecto libero nam recusandae exercitationem quasi eaque. Impedit, earum!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, quo facilis, placeat inventore corporis harum repudiandae a sint odit consequatur reiciendis est! Laboriosam beatae eius, vel numquam impedit quas cum?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, laboriosam ratione vel cum illum libero omnis non ipsa placeat nulla nobis perspiciatis quis sed vero odio magni totam, nisi sint.</p>

            </main>