<div class="adress">
            <h2>ADRESS</h2>
                <span class="span1">
                    41 Avemıe Gardems , Flat 3, Acton ,W3 8HB
                </span>
                <span class="span1">
                    <a class='quick-call' href="tel:+44 7565 249304"> +44 7565 249304</a>
                </span>
                <span class="span1">
                    <a href="mailto:vegasconsultancyuk@gmail.com">vegasconsultancyuk@gmail.com</a>
                </span>
                <span class="span1">
                    <a href="www.vegasconsultancy.co.uk">www.vegasconsultancy.co.uk</a>
                </span>
        </div>