<main class="icerik">
    <h1>Contact</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.5340923125805!2d-0.2762416842301776!3d51.50341677963452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760e0f703d0d09%3A0x77ce37064b481ee5!2s3%2C%2041%20Avenue%20Gardens%2C%20London%20W3%208HE%2C%20Birle%C5%9Fik%20Krall%C4%B1k!5e0!3m2!1str!2str!4v1645819914344!5m2!1str!2str" width="" height="" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                   
    <section class="section1">
        {{> emailform}}
        {{>adress}}
    </section>
</main>