<div class="emailform">
            <form class="contact-form" action="/contact" method="post">
                <div class="row">
                    <div class="col25">
                        <label for=""> Full  Name </label>
                    </div>
                    <div class="col75">
                        <input id="sendername"  type="text" placeholder="Enter your name.." name="sendername">
                    </div>
                </div>
                <div class="row">
                    <div class="col25">
                        <label for=""> Email </label>
                    </div>
                    <div class="col75">
                        <input type="email" id="email" placeholder="Enter your email adress.." name="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col25">
                        <label for=""> Message </label>
                    </div>
                    <div class="col75">
                        <textarea id="message" cols="30" rows="10" placeholder="Write your message.." name="message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Send Message" class="submit">
                </div>
            </form>
</div>