        <footer> 
            <div class="footer-container">
                  <div class="footer-left">
                      <ul class="footer-list">
                          <li><a href="index.html"><span>Homepage</span></a></li>
                          <li><a href="about.html"><span>About us</span></a></li>
                          <li><a href="references.html"><span>References</span></a></li>
                          <li><a href="contact.html"><span>Contact</span></a></li>
                      </ul>
                  </div>
                  <div class="footer-right">
                    <img src="images/exportphoto-3.jpeg" alt="">
                      <p>
                          <span>
                              © 2021 Vegas Consultancy
                          </span>
                          <span>
                              All Rights Reserved
                          </span>
                      </p>
              </div>
            </div>
          </footer>