<nav>
    <ul>
        <li><a href="/"><i class="menu-icon fas fa-home"></i>Homepage</a></li>
        <li><a href="/about"><i class="menu-icon far fa-address-card"></i>About us</a></li>
         <li><a href="/references"><i class="menu-icon far fa-thumbs-up"></i>References</a></li>
        <li><a href="/contact"><i class="menu-icon fas fa-phone-volume"></i>Contact</a></li>
    </ul>
</nav>