<main>
    <h1>References</h1>
        <div class="references">
            <img src="https://yt3.ggpht.com/ytc/AKedOLTZfR79FnVVwrrgccIpq2hYhrJhRuy2PF3np7qTxA=s900-c-k-c0x00ffffff-no-rj" alt="" class="ref-img">
            <h2 class="ref-header">Paylastikca</h2>
            <p class="ref-detail">Web Design</p>
    </div>
</main>