<div id="social">
                <font id="site-isim">Vegas Consultancy | <span>Export your dreams</span> </font> 
                <a class='mail-icon' href="">
                    {{!-- <i class="icon fa-solid fa-envelope">vegasconsultancyuk@gmail.com</i>
                    </a>
                    <span class="icon icon-element">
                   <a href="contact.html">
                       <i class="icon fa-solid fa-phone">+44 7565 249304</i>
                </a>
                </span>
                    
                    <a href="https://www.instagram.com/vegasconsultancy.uk/">
                        <i class="icon fab fa-instagram">vegasconsultancy.uk</i>
                    </a> --}}
                    {{>registerIcon}}
                    {{>loginIcon}}

        </div>